.mainNav {
  margin: 0;
  margin-right: 1rem;
}
.mainNav h1 {
  margin-right: auto;
}

@media screen and (min-width: 700px) {
  .mainNav {
    display: flex;
    align-items: center;
  }
}

.breadcrumbs {
  list-style-type: none;
  display: flex;
}
.breadcrumbs li::after {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 10px;
  content: "";
  transition: all 0.3s;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 14"><path fill="none" stroke="white" d="M.8 12.87l7.5-6-7.5-6"></path></svg>');
  background-repeat: no-repeat;
  /* url('data:image/svg+xml;utf8,<svg class="svg-arrowRight" viewBox="0 0 9 14"><path fill="none" stroke="#979797" d="M.8 12.87l7.5-6-7.5-6"></path></svg>'); */
}
.breadcrumbs li:last-child::after {
  background: none;
}
.purchaseBox {
  background: #fdf9f9;
  color: var(--background-color);
  padding: 1rem;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
