.mainNav {
  margin: 0;
  margin-right: 1rem;
}
.mainNav h1 {
  margin-right: auto;
}

@media screen and (min-width: 700px) {
  .mainNav {
    display: flex;
    align-items: center;
  }
}
.productlist main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 300px));
  gap: 2rem;
}
.productlist main h2 {
  grid-column: 1/-1;
}
.productlist article h3 {
  font-size: 1rem;
  flex-grow: 3;
}
.productlist article > * {
  margin: 0;
}
.subtle {
  color: #d8d8d8cc;
}
.productlist article {
  display: flex;
  flex-direction: column;
}
.productlist article.soldOut::before {
  content: "Sold Out";
  position: absolute;
  background: var(--color);
  color: var(--background-color);
  padding: 1rem;
}
.productlist article.onSale .discounted {
  display: flex;
  justify-content: space-between;
}
.productlist article .discounted,
.productlist article .price span {
  display: none;
}
.productlist article.onSale .discounted {
  display: flex;
  justify-content: space-between;
}
.discounted > p {
  margin-bottom: 0;
}
.productlist article.onSale .price span {
  display: initial;
}
.productlist article button {
  margin-top: auto;
}
.productlist article {
  margin-bottom: 1rem;
}
.discounted p:last-child {
  background: var(--off-color);
  padding: 0.2rem;
}
:root {
  --off-color: red;
}
